  <%- include("header") -%>
    <div class="box" id="heading">
      <h1 style="color: blue"> <%=Today%></h1>
    </div>

    <div class="box">
      <p>Things TO-DO</p>
        <%for(var i = 0; i<newtask.length; i++){%>
          <div class="item">
            <input type="checkbox" >
            <p><%=newtask[i]%></p>
          </div>
        <%}%>
        <form  action="/" method="post">
          <input type="text" name="task" value=""  placeholder="New Task" autocomplete="off">
          <button type="submit" name="list" value=<%=Today%>>+</button>
        </form>
    </div>

  <%- include("footer") -%>
