  <%- include("header") -%>
    <div class="box" id="heading">
      <h1 style="color: blue"> <%=Today%></h1>
    </div>

    <div class="box">
      <p>Things TO-DO</p>
        <%for(var i = 0; i<newtask.length; i++){%>
        <form action="/delete" method="post">
          <div class="item">
              <input type="checkbox" name="checkbox"  value="<%=newtask[i]._id%>" onChange="this.form.submit()">
              <p><%=newtask[i].taskName%></p>
          </div>
          <input type="hidden" name="listName" value="<%=Today%>"></input>
        </form>
        <%}%>
        <form class="itemText" action="/" method="post">
          <input type="text" name="task" value=""  placeholder="New Task" autocomplete="off">
          <button type="submit" name="list" value=<%=Today%>>+</button>
        </form>
    </div>

  <%- include("footer") -%>
